{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center mb-12">
  <h1 class="text-4xl md:text-5xl font-semibold mb-4 text-white">The Greatest Masters</h1>
  <p class="text-lg md:text-xl text-yellow-300 decoration-none">Explore the timeless teachings of Buddha, Osho, and Krishna.</p>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">

  <!-- Buddha Card -->
  <a href="{% url 'content:master_home' 'buddha' %}" class="card p-6 text-center master-card hover:shadow-lg transition-shadow duration-300 bg-[#4d2323] rounded-lg no-underline">
    <div class="image-frame buddha-frame mb-4">
      <img src="https://res.cloudinary.com/digeaoh8u/image/upload/v1759242633/content/2025/09/29/Lord_Buddha.png" alt="Buddha" class="master-img buddha-img mx-auto rounded">
    </div>
    <h2 class="text-2xl text-yellow-500 mb-2 text-decoration-none">Bhagwan Buddha</h2>
    <p class="font-semibold text-white decoration-none">To end suffering; just observe desire's painful root being aware.</p>
  </a>

  <!-- Osho Card -->
  <a href="{% url 'content:master_home' 'osho' %}" class="card p-6 text-center master-card hover:shadow-lg transition-shadow duration-300 bg-[#4d2323] rounded-lg no-underline">
    <div class="image-frame osho-frame mb-4">
      <img src="{% static 'images/oshohome.png' %}" alt="Osho" class="master-img osho-img mx-auto rounded">
    </div>
    <h2 class="text-2xl font-semibold text-yellow-500 mb-2 decoration-none">Bhagwan Osho</h2>
    <p class="font-semibold text-white decoration-none">Party with existence; drop the mind; and embrace life now</p>
  </a>

  <!-- Krishna Card -->
  <a href="{% url 'content:master_home' 'krishna' %}" class="card p-6 text-center master-card hover:shadow-lg transition-shadow duration-300 bg-[#4d2323] rounded-lg no-underline">
                                                                                                                        <div class="image-frame krishna-frame mb-4">
        <img src="{% static 'images/krishnahome.png' %}" alt="Krishna" class="master-img krishna-img mx-auto rounded">
      </div>
      <h2 class="text-2xl font-semibold text-yellow-500 mb-2 decoration-none">Bhagwan Krishna</h2>
      <p class="font-semibold text-white decoration-none">Dance in the world; act without attachment, be whole.</p>
  </a>
</div>
{% endblock %}
